@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto";
    background-color: #F7F7F7;
    margin: 35px;
    width: 900px;
}

.container .container-titulo {
    font-size: 18px;
}

.imagem-maior {
    width: 100%;
}

.container .container-visualizacao, .container-titulo-lateral {
    font-size: 14px;
}

.container-descricao, .container-visualizacao {
    font-weight: 300;
}

.container-lateral {
    display: flex;
    flex-direction: column;
}

.container-lateral .youtube {
    display: flex;
    margin-bottom: 15px;
}

.container-lateral .container-ator, .container-visualizacao-lateral, .container-tempo{
    font-size: 11px;
    font-weight: 300;
}

.videos{
    display: grid;
    grid-gap: 15px;
    grid: 
    "principal principal publicidade"
    "principal principal destaque-1"
    "principal principal destaque-2"
    "principal principal destaque-3"
}

.container {
    grid-area: principal;
}

.publicidade {
    grid-area: publicidade;
}

.destaque-1 {
    grid-area: destaque-1;
}

.destaque-2 {
    grid-area: destaque-2;
}

.destaque-3 {
    grid-area: destaque-3;
}